{
     margin: 0;
     padding: 0;
}
 
#cabecalho {
    height: 100px;
    background-color: rgb(255, 127, 127);
    margin: 0 auto;
}

#menu {
    width: 20%;
    height: 600px;
    background-color: rgba(164, 229, 231, 0.863);
    float: left;
    margin-top: 10px;

}  
 
#principal }
    Wid























